#root {
  max-width: 1280px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
#navigation-color {
  background-color: #FFA500;
}
.main {
  padding: 0 20px;
  flex: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.outline-button {
  width: 80px;
  padding: 12px;
  background: transparent;
  border: 1px solid #00E8D5;
  color: #00E8D5;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
}

.outline-button:hover {
  color: #fff;
  border: 1px solid #fff;
}
.nav-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
.nav-link.resume {
  color: #00E8D5;
}
.nav-link a {
  text-decoration: none;
  color: #fff;
}

.nav-link a:hover {
  color: #00E8D5;
}

.resume {
  margin-right: 10px;
}

/* Hero */

.hero {
  margin: 15px auto;
  height: 30vh;
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero .heading {
  color: #00E8D5;
}

.hero .subheader{
  color: #eff;
  font-size: 3em;
  font-weight: bold;
}

.hero .subheader.grey {
  color: #888;
  font-size: 3em;
}

.hero .info {
  color: #757575;
  font-weight: bold;
}

.amex {
  color: #4DB6AC;


}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
